.feature {
  padding: 29px 0 0 60px;

  text-align: left;

  background-repeat: no-repeat;
  background-size: 39px 37px;

  &--house {
    background-image: url("../img/icons/icon-home.svg");
    background-position: 11px 20px;
  }

  &--food {
    background-image: url("../img/icons/icon-burger.svg");
    background-position: 9px 23px;
  }

  &--souvenirs {
    background-image: url("../img/icons/icon-gift.svg");
    background-position: 12px 18px;
  }
}

.feature__title {
  margin-top: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feature__text {
  margin: 0;
  margin-top: 12px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .feature {
    width: 400px;

    padding: 152px 45px 40px;

    text-align: center;

    background-size: 75px 72px;


    &--house {
      order: 1;
      background-position: 90px 54px;
    }

    &--food {
      order: 2;
      padding: 152px 55px 40px;
      background-position: 94px 55px;
    }

    &--souvenirs {
      order: 3;
      background-size: 64px 75px;
      background-position: 92px 51px;
    }
  }

  .feature__title {
    font-size: 21px;
    line-height: 26px;
  }

  .feature__text {
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feature {
    &--house {
      background-position: 160px 54px;
    }

    &--food {
      background-position: 162px 55px;
    }

    &--souvenirs {
      background-position: 168px 51px;
    }
  }
}
