.socials {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: $main-color;

  &:hover {
    background-color: $main-color-hover;
  }

  &:active {
    background-color: $main-color-down;
  }
}

.socials__link:active img {
  opacity: 0.4;
}
