.features {
  padding: 5px 20px 40px 10px;
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-direction: row;

    padding: 5px 0 22px 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 7px 0 41px 0;
  }
}
