.feature {
  padding: 20px 20px 0 50px;

  text-align: left;
}

.feature__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.feature__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
