.feature {
  padding: 15px 0 0 50px;

  text-align: left;
}

.feature__title {
  margin-top: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feature__text {
  margin: 0;
  margin-top: 12px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .feature {
    width: 400px;

    padding: 152px 45px 40px;

    text-align: center;

    &--house {
      order: 1;
    }

    &--food {
      order: 2;
      padding: 152px 55px 40px;
    }

    &--souvenirs {
      order: 3;
    }
  }

  .feature__title {
    font-size: 21px;
    line-height: 26px;
  }

  .feature__text {
    margin-top: 20px;
  }
}
