.footer {
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
}

.footer__hashtag {
  display: inline-block;

  margin-top: 15px;

  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer__socials {
  margin: 0 auto;
  margin-top: 35px;
}

.footer__copyright {
  display: inline-block;

  margin-top: 32px;
  padding: 10px 45px 10px 0;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 10px;
  }

  .footer__socials {
    margin: 0;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
  }
}
