.footer {
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
}

.footer__hashtag {
  display: inline-block;

  margin-top: 15px;

  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer__socials {
  margin: 0 auto;
  margin-top: 35px;
}

.footer__copyright {
  display: inline-block;

  margin-top: 32px;
  padding: 10px 45px 10px 0;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 30px 54px 42px 54px;
  }

  .footer__hashtag {
    width: 150px;
  }

  .footer__socials {
    width: 150px;
    margin: 6px 0 0 0;
  }

  .footer__copyright {
    text-align: left;
    width: 150px;
    margin: 15px 0 0 0;
    padding: 0 0 0 13px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 30px 113px 40px 113px;
  }

  .footer__hashtag {
    margin-top: 16px;
  }
}
