.footer {
  width: 320px;
  height: 240px;
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
}

.footer__hashtag {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer__socials {
  margin: 0 auto;
  margin-top: 30px;
}

.footer__copyright {
  margin-top: 40px;
  padding: 10px 45px 10px 0;
}
