.gallery__name {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
}

.gallery__author {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.gallery__like {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
