.header {
  position: relative;
  padding-bottom: 56px;
}

.header__logo {
  position: absolute;
  bottom: -27px;
  left: 50%;
  z-index: 10;

  width: 102px;
  height: 83px;

  transform: translate(-50%)
}

@media (min-width: $tablet-width) {
  .header {
    padding: 0;
  }
}
