.interes {
  padding: 25px 20px 50px 20px;
  text-align: center;
}

.interes__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.interes__text {
  margin: 0;
  padding-top: 18px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.interes__text br {
  display: none;
}

.interes__btn {
  padding: 16px 0;
  margin-top: 35px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .interes {
    padding: 55px 154px 59px 154px;
  }

  .interes__title {
    font-size: 30px;
  }

  .interes__text {
    padding-top: 25px;
  }

  .interes__text br {
    display: inline-block;
  }

  .interes__btn {
    margin-top: 41px;
    padding: 16px 0;
    width: 458px;
  }
}

@media (min-width: $desktop-width) {
  .interes {
    padding: 55px 154px 66px 154px;
  }

  .interes__btn {
    margin-top: 47px;
  }
}
