.promo {
  position: relative;
  padding: 25px 25px;
  padding-bottom: 4px;

  text-align: center;

  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -37px;
    left: 0;

    width: 320px;
    height: 37px;

    background-image: url("/img/bg-triangle.svg");
    background-size: 100% 37px;
    background-repeat: no-repeat;
  }

  &--photo {
    &::after {
      display: none;
    }
  }
}

.promo__title {
  margin: 0;
  margin-top: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.promo__text {
  margin: 0;
  margin-top: 27px;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 50px 100px;

    &::after {
      content: none;
    }
    &--photo {
      padding: 100px 170px 70px 170px;
    }
  }

  .promo__title {
    margin-top: 0;
    font-size: 21px;
  }

  .promo__text {
    margin-top: 30px;
  }

  .promo--photo .promo__title {
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 50px 350px;
  }

  .promo__text {
    margin-top: 28px;
  }
}
