.reasons__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
}

.reasons__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
