.reasons {
  text-align: center;
}

.reasons__wrapper {
  display: flex;
  flex-direction: column;

  &--gray {
    background-color: #eeeeee;
  }
}

.reasons__item {
  position: relative;

  padding: 25px 15px 29px 15px;
  margin: 0 20px;

  border-bottom: 1px solid #d6d6d6;

  &--blue {
    margin: 0;
    padding: 37px 18px 40px 18px;

    background-color: $main-color;
    color: #ffffff;

    border-bottom: none;
  }

  &--first {
    padding-top: 77px;
  }

  &--last {
    border-bottom: none;
  }
}

.reasons__title {
  display: block;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reasons__title br {
  display: none;
}

.reasons__number {
  display: block;
  margin-top: 10px;

  font-size: 14px;
  line-height: 21px;
}

.reasons__text {
  margin: 0;
  margin-top: 15px;

  font-size: 14px;
  line-height: 21px;
  color: inherit;
}

.reasons__bg {
  order: 1;
  min-height: 260px;

  &--city {
    background: url("/img/photo-city@1x.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  &--bridge {
    background: url("/img/photo-bridge@1x.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .reasons__wrapper {
    flex-direction: row;
  }

  .reasons__item {
    width: 256px;

    padding: 44px 29px 44px 29px;

    border-bottom: none;

    &--blue {
      padding: 44px 45px 30px 45px;
    }
  }

  .reasons__title {
    font-size: 21px;
  }

  .reasons__title br {
    display: block;
  }

  .reasons__text {
    margin-top: 21px;
  }

  .reasons__bg {
    min-height: 256px;
    width: 512px;

    &--bridge {
      order: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .reasons__item {
    width: 400px;

    padding: 42px 29px 65px 29px;

    &--blue {
      padding: 49px 68px;
    }
  }

  .reasons__title {
    width: 160px;
    margin: 3px auto 0 auto;
  }

  .reasons__bg {
    width: 800px;

    background-size: cover;
  }
}
