.reasons {
  text-align: center;
}

.reasons__wrapper {
  display: flex;
  flex-direction: column;

  &--gray {
    background-color: #eeeeee;
  }
}

.reasons__item {
  position: relative;

  padding: 25px 15px 29px 15px;
  margin: 0 20px;

  border-bottom: 1px solid #d6d6d6;

  &--blue {
    margin: 0;
    padding: 37px 18px 40px 18px;

    background-color: $main-color;
    color: #ffffff;

    border-bottom: none;
  }

  &--first {
    padding-top: 77px;
  }

  &--last {
    border-bottom: none;
  }
}

.reasons__title {
  display: block;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reasons__number {
  display: block;
  margin-top: 10px;

  font-size: 14px;
  line-height: 21px;
}

.reasons__text {
  margin: 0;
  margin-top: 15px;

  font-size: 14px;
  line-height: 21px;
  color: inherit;
}

.reasons__bg {
  height: 260px;
  order: 1;

  &--city {
    background: url("/img/photo-city@1x.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  &--bridge {
    background: url("/img/photo-bridge@1x.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .reasons__wrapper {
    flex-direction: row;
  }

  .reasons__item {
    width: 256px;

    padding: 44px 28px 50px 30px;

    border-bottom: none;
  }

  .reasons__text {
    margin-top: 20px;
  }

  .reasons__bg {
    min-height: 256px;
    width: 512px;

    &--bridge {
      order: 0;
    }
  }
}
