.review__legend {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.review__label {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.review__note {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .review__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 60px;
  }

  .review__fieldset {
    &--impression {
      width: 280px;
    }

    &--name {
      width: 280px;
    }

    &--contact {
      width: 648px;
    }

    &--places {
      width: 648px;
    }

    &--emotions {
      width: 648px;
    }
  }

  .review__form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 648px;
  }
}
