.review__legend {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.review__label {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.review__note {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
